.body{
    margin: 0;
    padding: 0;
    background-color: #AAAAAA;
}

/* header section */

.influencer h2{
    position: absolute;
    top: 20px;
    left: 40px;
    
    color: #3A3A3A;
    font-family: poppins;
    font-weight: 700;
    font-size: 28px;
    
}

.container-1{
    display: flex;
    flex-direction: row;
    position: absolute;
    left: 850px;
    top: 40px;
    color: black;

   
    font-family: poppins;
    font-weight: 600;
    gap: 30px;
    
}

/* first section */

.first-section{
    width: 50%;
}

.first-section h1{
    position: relative;
    top: 200px;
    left: 30px;
    font-family: poppins;
    font-weight: 700;
    font-size: 52px;
    color: #3A3A3A;
    
    
}

.first-section p{
    position: relative;
    left: 30px;
    top: 180px;
    font-family: poppins;
    font-weight: 600;
    font-size: 16px;
    
}

.first-section button{
    position: relative;
    top: 190px;
    left: 30px;
    background-color: #E02C6D;
    font-family: poppins;
    border: none;
    border-radius: 41px;
    font-size: 18px;
    font-weight: 600;
    color: aliceblue;
    width: 200px;
    height: 44px;

}

.camera .circle{
    position: absolute;
    top: 200px;
    left: 750px;
}

.camera .main-camera{
    position: absolute;
    left: 770px;
    top: 230px;
}

.logo{
    display: flex;
    gap: 60px;
    width: 0;
    position: relative;
    top: 350px;
    left: 180px;

}

/*3rd section*/

.container-2{
    
    position: relative;
    left: 150px;
    top: 430px;
    width: 1050px;
    height: 500px;
    
}
.container-2 .heading{
    text-align: center;
    font-family: poppins;
    font-size: 28px;
    font-weight: 600;
}

.item{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
}

.item-1{
    font-family: poppins;
    color: #18191F
    ;
}

.item-1 h3{
    margin-top: -1px;
    font-weight: 600;
}

.item-1 .ammount{
    margin-top: -10px;
    font-weight: 400;
}

.item-1 p{
    margin-top: -10px;
    color: #787885;
}



.item-2{
    font-family: poppins;
    color: #18191F
    ;
}

.item-2 h3{
    margin-top: -1px;
    font-weight: 600;
}

.item-2 .ammount{
    margin-top: -10px;
    font-weight: 400;
}

.item-2 p{
    margin-top: -10px;
    color: #787885;
}
.item-3{
    font-family: poppins;
    color: #18191F
    ;
}

.item-3 h3{
    margin-top: -1px;
    font-weight: 600;
}

.item-3 .ammount{
    margin-top: -10px;
    font-weight: 400;
}

.item-3 p{
    margin-top: -10px;
    color: #787885;
}
.item-4{
    font-family: poppins;
    color: #18191F
    ;
}

.item-4 h3{
    margin-top: -1px;
    font-weight: 600;
}

.item-4 .ammount{
    margin-top: -10px;
    font-weight: 400;
}

.item-4 p{
    margin-top: -10px;
    color: #787885;
}
.item-5{
    font-family: poppins;
    color: #18191F
    ;
}

.item-5 h3{
    margin-top: -1px;
    font-weight: 600;
}

.item-5 .ammount{
    margin-top: -10px;
    font-weight: 400;
}

.item-5 p{
    margin-top: -10px;
    color: #787885;
}
.item-6{
    font-family: poppins;
    color: #18191F
    ;
}

.item-6 h3{
    margin-top: -1px;
    font-weight: 600;
}

.item-6 .ammount{
    margin-top: -10px;
    font-weight: 400;
}

.item-6 p{
    margin-top: -10px;
    color: #787885;
}
.item-7{
    font-family: poppins;
    color: #18191F
    ;
}

.item-7 h3{
    margin-top: -1px;
    font-weight: 600;
}

.item-7 .ammount{
    margin-top: -10px;
    font-weight: 400;
}

.item-7 p{
    margin-top: -10px;
    color: #787885;
}
.item-8{
    font-family: poppins;
    color: #18191F
    ;
}

.item-8 h3{
    margin-top: -1px;
    font-weight: 600;
}

.item-8 .ammount{
    margin-top: -10px;
    font-weight: 400;
}

.item-8 p{
    margin-top: -10px;
    color: #787885;
}
.item-9{
    font-family: poppins;
    color: #18191F
    ;
}

.item-9 h3{
    margin-top: -1px;
    font-weight: 600;
}

.item-9 .ammount{
    margin-top: -10px;
    font-weight: 400;
}

.item-9 p{
    margin-top: -10px;
    color: #787885;
}

/* 4th section */

.container-3{
    position: relative;
    top: 1400px;
    left: 80px;
    width: 1100px;
    
}

.container-3 .w-30 img{
    float: left;
    height: 300px;
    width: 500px;
}

.container-3 .w-70{
    margin-top: 50px;
    overflow: hidden;


}

.container-3 .w-70 h2{
    text-align: center;
    font-family: poppins;
    font-size: 30px;
    font-weight: 700;
    color: #0A0826;
}

.container-3 .w-70 p{
    text-align:center ;
    font-family: poppins;
    font-weight: 600;
    font-size: 18px;
    color: #6C6C6C;

}

.container-3 .w-70 button{
    background-color: #E02C6D;
    border: none;
    font-size: 17px;
    color: aliceblue;
    font-weight: 700;
    border-radius: 3px;
    width: 120px;
    height: 40px;
    position: relative;
    left: 230px;
}

.container-4{
    
    position: relative;
    top: 1550px;
    height: 200px;
    background-color: #0A0826
    ;
}

.container-4 h2{
    
    position: relative;
    top: 20px;
    
    
    font-family: poppins;
    font-weight: 600;
    font-size: 28px;
    color: aliceblue;
}

.container-4 p{
    text-align: center;
    font-family: poppins;
    font-size: 16px;
    color: #AAAAAA;

}

.container-4 i{
    position: relative;
    left: 600px;
    margin: 5px;
}

